#p1-careers {
    font-weight: bold;
    font-size: 40px;
}
#row1-careers-style {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10%;
    background: linear-gradient(to right,rgba(192, 192, 192, 1), rgba(1, 23, 63, 0)), url(../utils/press_brake_1259x841.jpg);
    width: auto;
    color: white;    
}
#careers-small-img-carousel {
    padding: 5%;
    border-color: lightgray;

}
#careers-small-carousel-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,rgb(255, 255, 255),rgb(192, 192, 192));
}
#careers-small-carousel-right-text {
    font-weight: bold;
    font-size: 40px;
}
