#p1 {
    font-weight: bold;
    font-size: 30px;
}
#p2 {
    font-size: 20px;
}
#row1-content-style {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10% 0%;
    background: url(../utils/dark-paths.png);
    width: auto;
    color: white;
    font-size: 30px;
    /* max-width: 100% */
}
#title-content-style {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#para-content-style {
    text-align: center;
}
.btn {
    background-color: white;
    color: silver;
    border-color: silver;
    /* border-radius: 0%; */
    display: flex;
    justify-content: center;
    transition-duration: 0.6s;
    margin-left: 30%;
    margin-right: 30%;
}
.btn:hover {
    background-color: #01173f;
    color: white;
    border-color: #01173f;

  }
.card {
    position: relative;
    bottom: 40px;
    margin: 0 10%;
    /* background-image: linear-gradient(silver , white); */
}
