#top-row {
  background: linear-gradient(to right, rgba(192, 192, 192, 1), #01184100),
    url(../utils/dark-paths.png);
  width: auto;
}
#bottom-row {
  background-image: linear-gradient(to bottom left, silver, white);
}
/* .company-logo-bottom {
    height: auto;
    width: 250px;
    border-radius: 5%;
    padding-top: 30px;
    padding-bottom: 40px;
} */
.connect-with-us {
  height: auto;
  width: 175px;
  border-radius: 5%;
  padding-top: 30px;
  padding-bottom: 40px;
}
#line-break {
  background-image: linear-gradient(to left, #01173f, white);
}
/* .container {
  max-width: 100%;
} */
.call-email {
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 0px;
  color: white;
  font-weight: bold;
}
#phone-number {
  color: lightgrey;
  font-weight: normal;
}
#email-text {
  color: lightgrey;
  font-weight: normal;
}
.visit-address {
  padding-top: 30px;
  padding-bottom: 40px;
  color: white;
  font-weight: bold;
}
#visit-text {
  color: lightgrey;
  font-weight: normal;
}
/* .social-media {
  margin: 5px;
  height: 30px;
  width: 30px;
  border-radius: 5%;
} */
/* #socialMedia {
  display: flex;
  align-items: center;
  justify-content: center;
} */
#bottomLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}
#bottom-middle-info {
  padding: 15px 0px 0px 10px;
}
#bottom-email-text {
  text-align: left;
}
#connect-logo-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
