.company-logo {
    height: auto;
    width: 250px;
    border-radius: 5%;
    padding-bottom: 0px;
}
.navbar {
    /* background-color: white; */
    /* background: url(../utils/subtle_zebra_3d.png); */
    background-image: linear-gradient(to bottom left,silver , white);
}
#top-break {
    background-image: linear-gradient(to bottom left, white , silver);
}
.social-media {
    margin: 5px;
    height: 20px;
    width: 20px;
    border-radius: 5%;
}
#socialMedia-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
}
